<?php
 return [
     'mbtec' => [
         'zf-email' => [
             'transport' => [
                 'type' => 'smtp',
                 'options' => [
                     'name' => '...',
                     'host' => '...',
                     'port' => 587,
                     'connection_class'  => 'login',
                     'connection_config' => [
                         'username' => '...',
                         'password' => '...',
                         'ssl'      => 'tls',
                     ],
                 ],
             ],
             'renderer' => [
                 'subject_prefix' => 'Application: ',
                 'mail_from_name' => 'Application',
                 'mail_from_email' => 'mail@application.de',
                 'mail_bcc' => [

                 ],
                 //'email_receiver_override' => '',
             ],
         ],
     ],
 ];